.slogan{
  font-family: 'Kanit', sans-serif;
  font-size: 1.7rem;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 5px black;
  text-align: center;

} 
body {
  background-color:rgb(232, 250, 206);
  font-family:'Kanit', sans-serif;
  margin: 0px;
}

.container{
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color:#009929;
  }
.lista{
      display: flex;
      justify-content:space-between;
      font-family:'Kanit', sans-serif;
      list-style: none;
      width: 450px;
      margin: 0;
      padding: 0px;
      text-shadow: 2px 2px 2px #000000;
      font-weight: 800;
      text-transform: capitalize;
      font-size: 1.5rem;
      max-height: 100px;
  }
.listaItem{
  height: 100px;
  display: flex;
  align-items: center;
  transition:  background-color 1s;
  width: 150px;
  justify-content: center;
}
.listaItem:hover{
  background-color: #ffff36a0;
}
 .enlace{
  display: flex;
  justify-content: center;
  align-items: center;
    text-decoration: none;
    color: white;
    align-items: center;
    padding: auto;  

    
  }

 .logo{
      border-radius:50px;
      width:75px;
  }
.tittle{
      text-align: center;
      font-family:'Kanit', sans-serif;
      font-size:2rem;
  }
.tittleCart{
  text-align: center;
  font-family:'Kanit', sans-serif;
  font-size:2rem;
  height: 100vh;
}
.card{
  background-color: #ffffff;
  text-align: center;
  width: 300px;
  border-radius: 5px;
  border: initial;
  box-shadow: 2px 2px 5px black;
  justify-content: center;
  transition: background-color 1s;
}
.card:hover{
  background-color: #72cb10;
}
.card img{
  border-radius: 5px;
}
.tittleCard{
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
  font-size: 1.7rem;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 5px black;
  text-align: center;

}
.textCard{
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform:uppercase;
  font-weight:900;
  height: 70px;
}
.textCardCart{
  margin: 10px;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform:uppercase;
  font-weight:900;
  height: 50px;
}
.buttonCard{
  background-color: white;
  border: 2px solid #009929;
  color:#009929;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px black;
  transition: text-shadow font-weigth 1s;
}
.buttonCard:hover{
  text-shadow:1px 1px 2px #038e15;
  font-weight: bolder;
}
.buttonCardCart{
  background-color: white;
  border: 2px solid #009929;
  color:#009929;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px black;
  width: 130px;
  margin-bottom: 40px;
  transition: text-shadow font-weigth 1s;
}
.buttonCardCart:hover{
  text-shadow:1px 1px 2px #038e15;
  font-weight: bolder;
}
.ItemCard{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-content: space-around;
  gap: 45px;
  margin-left: 10px;}

.itemCartDetail{
  display: flex;
  justify-content: space-around;
}
.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height:100vh;
}
.divDetail{
display:grid;
grid-template-areas:repeat(2,1fr);
height: 65vw;
gap: 1rem;
}
.buttonDetail{
grid-area: button;
justify-self: center;
background-color: white;
border: 2px solid #009929;
color:black;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 4px;
box-shadow: 1px 1px 2px black;
height: 50px;
width: 250px;
}
.imgDetail{
  grid-area:2/1/6/1;
  width:40vw;
  border-radius: 25px;
  justify-self: center;
  align-self: center;
}
.titleDetail{
  grid-area: 1/1/1/3;
  text-align: center;
  text-transform: capitalize;
  color: gray;
  font-weight: 700;
  font-size: 3rem;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 5px black;
  align-self: center;
}
.titleDescription{
  grid-area: 2/2/3/2;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform:uppercase;
  font-weight:900;
  margin: 0px;
  align-self: center;
}
.textDetail{
  grid-area: 3/2/6/2;
  font-size: 1.5rem;
  color: gray;
  text-align: center;
  text-transform:uppercase;
  font-weight:900;
  margin: 0px;
  align-self: center;
}

.priceDetail{
  grid-area: 6/1/6/1;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  font-weight:900;
  justify-self: center;
  margin: 0px;
}
.stockDetail{
  grid-area: 6/2/6/2;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  font-weight:900;
  justify-self: center;
  margin: 0px;
}
.itemCount{
  display: inline-block;
  justify-content: center;
  grid-area:  8/1/8/3;

}
.itemButton{
  display: flex;
  justify-content: center;

}

.itemButton button{
  width: 30px;
  background-color: white;
  border: 2px solid #009929;
  color:black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px black;
}
.itemButton p {
  border-radius: 5px;
  width: 90px;
  border-color: darkgreen;
  text-align: center;
  font-size: 1.3rem;
  text-shadow: 0px 0px 2px black;
  color: black;
  margin: 0px;
}
.agregarCount{
  display: flex;
  justify-content: center;

}
.agregarCarrito{
  width: 150px;
  background-color: white;
  border: 2px solid #009929;
  color:black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px black;

}

.buttonCompra{
  display: flex;
  justify-content: space-around;
  grid-area: itemCount;
  margin: 100px;
  grid-area:  8/1/8/3;
}
.buttonCompra button{
  justify-self: center;
}
.divCart{
  position: relative;
}
.countCart{
  color:  rgb(183, 255, 0);
 position: absolute;
 left: 20px;
 top: 15px;
 border-radius: 50px;
 height: 15px;
 width: 15px;
 margin: 0px;
 margin-left: 10px;
 padding: 5px;
 font-weight:900;
 font-size: 1.2rem;
}
.toHome{
  text-decoration: none;
  font-weight: 900;
  color: #009929;
  text-shadow:2px 2px 2px #72cb10;
}
.price{
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: #009929;
  text-shadow:2px 2px 2px #72cb10;
  transition: background-color font-weight 1s;
}
.price:hover{
  text-shadow:5px 5px 5px #aeff00;
  font-weight: bolder;
}
.cartCompra{
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}
.id{
  text-align: center;
  font-size: 2.5rem;
  text-decoration: none;
  color: #009929;
  text-shadow:2px 2px 2px #72cb10;
  transition: background-color font-weight 1s;
}
.formContainer{
  height: 60vw;

}
.formText{
  display: inline-block;
  width: 250px;
  font-size: 1.5rem;
  color: gray;
  text-align: center;
  text-transform:uppercase;
  font-weight:900;
  margin: 0px;
  align-self: center;
}
.form{
  margin:15px 0px;
  width: 550px;
  background-color: white;
  border: 2px solid #009929;
  color:black;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  border-radius: 4px;
  box-shadow: 1px 1px 2px black;
  height: 20px;
  margin-left: 1rem;
}
.errors{
  color: red;
  font-size: 1.3rem;
  margin-left: 2rem;
}
.buttonForm{
  margin-left: 300px;
  margin-top: 50px;
}
.formSpinner{
text-align: center;
justify-items: center;
}
.divResp{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer{
  display: flex;
  justify-content: space-around;
  background-color:#009929;
  margin-top: 20px;
}
.contacto{
  display: flex;
  align-items: center;
  padding: 10px;
  text-shadow: 2px 2px 2px #000000;
  font-weight: 800;
  color: white;
  width: 250px;
  justify-content: space-around;
}
.contacto a{
  text-decoration: none;
  color: white;
}
.copyright{
  display: flex;
  align-items: center;
  padding: 10px;
  text-shadow: 2px 2px 2px #000000;
  font-weight: 800;
  color: white;
}
