.slogan{
  font-family: 'Kanit', sans-serif;
  font-size: 1.7rem;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 5px black;
  text-align: center;

} 
body {
  background-color:rgb(232, 250, 206);
}